/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

:root {
  --titleFont: "Tilt Neon", sans-serif;
  --bodyFont: "Dosis", sans-serif;
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

blockquote,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--titleFont);
  font-weight: 600;
  padding: 0;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
  display: block;
}

img,
video {
  max-width: 100%;
  height: auto;
}

html,
body {
  font-family: var(--bodyFont);
  font-weight: 500;
  margin: 0;
  padding: 0;
  position: relative;
  max-width: 100%;
  overflow-x: clip;
  scroll-behavior: smooth;
}

.content-wrapper {
  padding: 3rem 1.5rem;
  max-width: 1280px;
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.625;
}

.intro {
  margin-bottom: 2rem;
}

#name {
  font-size: 2.75rem;
  margin: 0;
  line-height: 1;
}

#job-position {
  font-size: 1.25rem;
  line-height: 0.75;
  margin-top: 1rem;
}

#self-description {
  line-height: 1.5;
  margin-top: 0.75rem;
}

.nav-menu {
  display: none;
}

.social-media-icons ul {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2rem;
}

.social-media-icons ul li {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 1.25rem;
}

.social-media-name {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.social-media-svg {
  vertical-align: middle;
  overflow: visible;
  width: 1.5rem;
  height: 1.5rem;
  color: black;
  fill: currentColor;
}

.content-container-main {
  padding-top: 6rem;
}

.main-section-top {
  scroll-margin-top: 4rem;
}

.main-section {
  margin-bottom: 4rem;
}

.menu-title {
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin-bottom: 1rem;
  width: 100vw;
}

.menu-title h2 {
  font-size: 0.875rem;
}

.menu-content-paragraphs p {
  margin-bottom: 1rem;
}

.menu-content-grid li {
  display: -ms-grid;
  display: grid;
  margin-bottom: 3rem;
  /* position: relative; */
}

.experience-date {
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 1rem;
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
}

.experience-position {
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  line-height: 1.25;
  font-weight: 500;
  font-size: 1rem;
}

.experience-description {
  line-height: 1.5;
  font-size: 0.875rem;
  margin-top: 0.5rem;
}

.project-title {
  line-height: 1.25;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

.project-description {
  line-height: 1.5;
  margin-top: 0.5rem;
}

.project-img {
  border-width: 2px;
  border-radius: 0.25rem;
}

@media (min-width: 640px) {
  .menu-content-grid li {
    -ms-grid-columns: minmax(0, 1fr) 2rem minmax(0, 1fr) 2rem minmax(0, 1fr)
      2rem minmax(0, 1fr) 2rem minmax(0, 1fr) 2rem minmax(0, 1fr) 2rem
      minmax(0, 1fr) 2rem minmax(0, 1fr);
    grid-template-columns: repeat(8, minmax(0, 1fr));
    gap: 2rem;
  }

  .experience-date,
  .project-img {
    -ms-grid-column-span: 2;
    grid-column: span 2 / span 2;
  }

  .experience-details,
  .project-details {
    -ms-grid-column-span: 6;
    grid-column: span 6 / span 6;
  }

  .project-details {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }

  .project-img {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
}

@media (min-width: 768px) {
  .content-wrapper {
    padding: 5rem 3rem;
  }

  #about .main-section {
    scroll-margin-top: 6rem;
  }

  #experience .main-section {
    scroll-margin-top: 4rem;
    margin-bottom: 6rem;
  }

  .menu-title {
    padding-left: 3rem;
    padding-right: 3rem;
    margin-left: -3rem;
    margin-right: -3rem;
  }

  .menu-content-grid li {
    gap: 1rem;
  }
}

@media (min-width: 1024px) {
  .content-wrapper {
    padding: 0 6rem;
  }

  .content-container {
    gap: 1rem;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .content-container-header {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 50%;
    max-height: 100vh;
    padding: 6rem 0;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: sticky;
  }

  #self-description {
    margin-top: 1.25rem;
    max-width: 20rem;
  }

  .nav-menu {
    display: block;
    margin-top: 2rem;
  }

  .nav-link {
    text-transform: uppercase;
    padding-top: 0.75rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .nav-link:hover {
    color: aqua;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
  }

  .active {
    color: aqua;
  }

  .content-container-main {
    padding-top: 6rem;
    padding-bottom: 6rem;
    width: 50%;
  }

  .main-section {
    scroll-margin-top: 6rem;
    margin-bottom: 9rem;
  }

  .menu-title {
    display: none;
  }
}
