:root {
    --max-width: 1600px;
    --zindex-nav: 1000;

    --bodyFont: "gt", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

    --font-h1: clamp(3.2rem, .5692rem + 8.238vw, 13.75rem);
    
    --color-background: #666666;
    --color-text-primary: #ffffff;
    --color-text-secondary: #999999;
    --color-text-tertiary: #000000;
    --color-text-quarterly: #333333;
    --color-backdrop: hsla(0, 0%, 0%, .1);
}

body {
    background-color: var(--color-background);
    color: var(--color-text-primary);
    font-family: var(--bodyFont)
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: var(--zindex-nav);
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: var(--max-width);
    margin: 1.25rem auto 0;
    position: relative;
}

nav ul {
    list-style-type: none; 
    padding-left: 0%;
    display: flex;
    gap: 1.25rem;

    margin: 0;
    padding: cal(1.25rem - 10px);
    border-radius: 50px;
    transition: all .2s linear;
}

a {
    text-decoration: none;
    border-radius: 1.5rem;
    color: var(--color-text-tertiary);
}

h1 {
    text-align: center;
    font-size: var(--font-h1);
    line-height: 100%;
}


.blur {
    background: var(--color-backdrop);
    backdrop-filter: blur(20px);
}

.holder {
    display: flex;
    justify-content: center;
    position: relative;
}

.wrapper {
    padding: 0 1.5rem;
    display: grid;
    position: relative;
}

.center {
    text-align: center;
}