:root {
    --titleFont: "gt", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    --bodyFont: "Courier New", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

    --font-h1: clamp(3.2rem, .5692rem + 8.238vw, 13.75rem);
    --font-h2: clamp(1.5rem, 1.0982rem + 1.7143vw, 2.8125rem);
    --font-h3: clamp(1.375rem, 1.1837rem + .8163vw, 2rem);
    --font-h4: clamp(1.375rem, 1.1837rem + .8163vw, 1.6rem);
    --font-h5: clamp(1rem, .9235rem + .3265vw, 1.25rem);
    --font-h6: clamp(1rem, .9617rem + .1633vw, 1.125rem);
    --font-body: clamp(1rem, .8852rem + .4898vw, 1.375rem);
    --font-link: clamp(.875rem, .7985rem + .3265vw, 1.125rem);
    --font-mini: clamp(.875rem, .8367rem + .1633vw, 1rem);

    --color-primary: rgb(188, 136, 252);
    --color-primary-variant: rgb(55, 0, 179);
    --color-on-primary: rgb(0, 0, 0);

    --color-secondary: rgb(3, 218, 198);
    --color-on-secondary: rgb(0, 0, 0);

    --color-background: rgb(18, 18, 18);
    --color-on-background: rgb(255, 255, 255);

    --color-surface: rgb(18, 18, 18);
    --color-surface-3dp: rgb(20, 20, 20);
    --color-surface-4dp: rgb(23, 23, 23);
    --color-surface-6dp: rgb(28, 28, 28);
    --color-surface-8dp: rgb(31, 31, 31);
    --color-surface-12dp: rgb(36, 36, 36);
    --color-surface-16dp: rgb(38, 38, 38);
    --color-surface-24dp: rgb(41, 41, 41);
    --color-on-surface: rgb(255, 255, 255);
    
    --color-error: rgb(207, 102, 121);
    --color-on-error: rgb(0, 0, 0);
    
    --high-emphasis-text-opacity: 87%;
    --medium-emphasis-text-opacity: 60%;
    --disabled-text-opacity: 38%;

    --zindex-nav: 1000;
}

body, html {
    font-family: var(--bodyFont);
    font-size: var(--font-body);
    color: var(--color-on-background);
    background: var(--color-background);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    position: relative;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--titleFont);
    font-weight: 700;
}

header {
    background-color: var(--color-surface-8dp);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

nav {
    display: flex;
    justify-content: center;
    position: relative;
}

ul.nav {
    display: flex;
    list-style-type: none;
    padding-left: 0%;
    gap: 1.25rem;
}

ul.nav a {
    text-decoration: none;
    color: var(--color-on-surface);
}

.content {
    margin-top: 100px;
}

div.title h1 {
    position: relative;
    text-align: center;
    font-size: var(--font-h1);
    line-height: 100%;
}

.holder {
    display: flex;
    position: relative;
    justify-content: center;
}

div .text-center {
    display: flex;
    padding: 0 4rem;
}

.text-center {
    text-align: center;
}

@media(max-width: 768px) {

}